.body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

header {
    background-color: #4CAF50;
    color: #fff;
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo {
    font-size: 24px;
}

.main {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

input[type="textField"] {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#truncResult {
    font-size: 18px;
    margin-top: 10px;
}

#btn {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#btn:hover {
    background-color: #45a049;
}
