.body {
    font-family: Arial, sans-serif;
    color: #f5f5f5;
}

header {
    background-color:rgb(48, 25, 52);
    color: #fff;
    height: 8vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo {
    font-size: 24px;
}

.main {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color:rgb(72, 50, 72);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

input[type="text"] {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#truncResult {
    font-size: 18px;
    margin-top: 10px;
}

#btn {
    background-color:rgb(120, 52, 107);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#btn:hover {
    background-color:rgb(112, 41, 99);
}
